body {
    font-family: 'Merriweather', serif;
}

.navbar img {
    width: 60px;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
}

.mission-header {
    color: #FF4500;
}

.mission-img {
        display: none;
    }

.orange-section {
    background-color: #FF4500;
}

#map {
    width:100%;
    height:100%;
    border-radius:10px
}

@media(min-width: 768px) {
    .carousel-img {
        height: 89vh;
        width: 100vw;
    }

    .mission-img {
        width: 160px;
        display: inline-block;
    }





}